
<div class="container-fluid font-type">
  <div class="d-flex justify-content-end">
    <div class="col-md-2 mt-3">
      <div class="row">
        <nav id="navbar-example3" class="navbar navbar-light">
          <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#item-1">PlayStation</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ml-3 my-1" href="#item-1-1">Ação</a>
              <a class="nav-link ml-3 my-1" href="#item-1-2">Aventura</a>
              <a class="nav-link ml-3 my-1" href="#item-1-3">Corrida</a>
              <a class="nav-link ml-3 my-1" href="#item-1-4">Esporte</a>
              <a class="nav-link ml-3 my-1" href="#item-1-5">Estratégia</a>
              <a class="nav-link ml-3 my-1" href="#item-1-6">Luta</a>
              <a class="nav-link ml-3 my-1" href="#item-1-7">Música</a>
              <a class="nav-link ml-3 my-1" href="#item-1-8">Simulação</a>
              <a class="nav-link ml-3 my-1" href="#item-1-9">Terror</a>
              <a class="nav-link ml-3 my-1" href="#item-1-10">Tiro</a>
            </nav>
          </nav>
        </nav>
      </div>
    </div>

    <div class="col-md-10 mt-3 column-edit">
      <div
        data-spy="scroll"
        data-target="#navbar-example3"
        data-offset="0"
        class="mr-0"
      >
       
       <ul class="mr-0">
        <h4 id="item-1">PlayStation</h4>
        <p>...</p>
        <h5 id="item-1-1">Ação</h5>
        <div class="row">
        <div class="card">
            <img
              src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
              class="card-img-top mt-2 size-image"
              alt="Capa do jogo Horizon Zero Dawn"
            />
            <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
            </p>
          </div>
          <div class="card">
            <img
              src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
              class="card-img-top mt-2 size-image"
              alt="Capa do jogo Horizon Zero Dawn"
            />
            <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
            </p>
          </div>
          <div class="card">
            <img
              src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
              class="card-img-top mt-2 size-image"
              alt="Capa do jogo Horizon Zero Dawn"
            />
            <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
            </p>
          </div>
          <div class="card">
            <img
              src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
              class="card-img-top mt-2 size-image"
              alt="Capa do jogo Horizon Zero Dawn"
            />
            <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
            </p>
          </div>      
        </div>
        <h5 id="item-1-2">Aventura</h5>
        <div class="row">
            <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>      
            </div>
        <h5 id="item-1-3">Corrida</h5>
        <div class="row">
            <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>      
            </div>
        <h5 id="item-1-4">Esporte</h5>
        <div class="row">
            <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>      
            </div>
        <h5 id="item-1-5">Estratégia</h5>
        <div class="row">
            <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>      
            </div>
        <h5 id="item-1-6">Luta</h5>
        <div class="row">
            <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>      
            </div>
        <h5 id="item-1-7">Música</h5>
        <div class="row">
            <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>      
            </div>
        <h5 id="item-1-8">Simulação</h5>
        <div class="row">
            <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>      
            </div>
        <h5 id="item-1-9">Terror</h5>
        <div class="row">
            <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>      
            </div>
        <h5 id="item-1-10">Tiro</h5>
        <div class="row">
            <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>
              <div class="card">
                <img
                  src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
                  class="card-img-top mt-2 size-image"
                  alt="Capa do jogo Horizon Zero Dawn"
                />
                <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
                </p>
              </div>      
            </div>
       </ul>
      </div>
    </div>
  </div>
</div>
