
.text-white{
    color: var(--color-white) !important;
}
.border-form{
    border-color: var(--color-yellow);
}
.font-color{
    color: var(--color-yellow);
}
.background-color2{
    background-color: var(--color-gray);
}
