<div class="row">
  <div class="col-md-12 p-0">
    <nav class="navbar navbar-expand-lg text-white background-color">
      <!-- logomarca da CS   -->
      <div class="col-md-3 d-flex justify-content-end">
        <img class="mr-3" src="../../assets/logocs.png" alt="Logo CS Games" />
        <button
          class="navbar-toggler text-white"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <!-- Barra de pesquisa -->
      <div class="col-md-5 d-flex justify-content-center">
        <form class="form-inline">
          <input
            class="form-control border-form mr-sm-2 d-flex justify-content-center"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn border-form font-color my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>

      <!-- Menu de opções -->
      <div class="col-md-4 d-flex justify-content-start">
        <div
          class="collapse navbar-collapse text-white"
          id="navbarSupportedContent"
        >
          <ul class="row navbar-nav">
            <li class="row mr-5 nav-item active">
              <i
                class="fa fa-commenting-o d-flex align-items-center"
                aria-hidden="true"
              ></i>
              <a class="nav-link text-white" href="#"
                >Central de <br />
                atendimento<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="row mr-5 nav-item">
              <i
                class="fa fa-user-o d-flex align-items-center"
                aria-hidden="true"
              ></i>
              <a class="nav-link text-white" href="#"
                >Entrar ou <br />
                Cadastrar</a
              >
            </li>
            <li class="row nav-item dropdown">
              <i
                class="fa fa-shopping-cart d-flex align-items-center"
                aria-hidden="true"
              ></i>
              <a
                class="nav-link dropdown-toggle text-white text-center"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-expanded="false"
                >Meu <br />
                carrinho
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<!-- Segundo Menu -->
<div class="row d-flex justify-content-center text-white background-color2">
  <nav class="navbar navbar-expand-lg ">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active mr-5">
          <a class="nav-link text-white" href="#"
            >Playstation <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active mr-5 ">
          <a class="nav-link text-white" href="#"
            >Xbox <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active mr-5">
          <a class="nav-link text-white" href="#"
            >Nitendo <span class="sr-only">(current)</span></a
          >
        </li>
  
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Ofertas
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
