<div class="row font-type">
  <div class="col-md-12 p-0">
    <nav class="navbar navbar-expand-lg background-color">
      <!-- logomarca da CS   -->
      <div class="col-md-3 d-flex justify-content-end">
        <img class="mr-3" src="../../assets/logocs.png" alt="Logo CS Games" />
        <button
          class="navbar-toggler text-white"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <!-- Barra de pesquisa -->
      <div class="col-md-5">
        <div class="row d-flex justify-content-center">
          <a class="home-about-color d-flex align-items-center mr-5" routerLink="/home"
            >Home</a
          >
          <a class="home-about-color d-flex align-items-center mr-5" routerLink="/about"
            >About</a
          >

          <form class="form-inline">
            <input
              class="form-control border-form mr-sm-2 d-flex justify-content-center"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="btn border-form search-color my-2 my-sm-0"
              type="submit"
            >
              Search
            </button>
          </form>
        </div>
      </div>

      <!-- Menu de opções -->
      <div class="col-md-4 d-flex justify-content-start">
        <div
          class="collapse navbar-collapse text-white"
          id="navbarSupportedContent"
        >
          <ul class="row navbar-nav mt-2 ml-3">
            <li class="row mr-5 nav-item active ">
              <h3 class="d-flex align-items-center mr-1"><i
                class="fa fa-commenting-o "
                aria-hidden="true"
              ></i></h3>
              <h6><a class="nav-link text-navbar1" href="#"
                >Central de <br />
                atendimento<span class="sr-only">(current)</span></a
              ></h6>
            </li>
            <li class="row mr-5 nav-item">
              <h3 class="d-flex align-items-center mr-1"><i
                class="fa fa-user-o "
                aria-hidden="true"
              ></i></h3>
              <h6><a class="nav-link text-navbar1" href="#"
                >Entrar ou <br />
                Cadastrar</a
              ></h6>
            </li>
            <li class="row nav-item dropdown">
              <h3 class="d-flex align-items-center mr-1"><i
                class="fa fa-shopping-cart d-flex align-items-center"
                aria-hidden="true"
              ></i></h3>
              <h6><a
                class="nav-link dropdown-toggle text-navbar1 text-align-center"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-expanded="false"
                >Meu <br />
                carrinho
              </a></h6>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<!-- Segundo Menu -->
<div class="row d-flex justify-content-center text-white background-color2 font-type">
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active mr-5">
          <div class="row d-flex align-items-center mr-4">
            <img src="../../assets/playstation.png" width="30px" height="30px" alt="">
          <a class="nav-link text-white" routerLink="/playstation"
            >Playstation <span class="sr-only">(current)</span></a
          >
          </div>
        </li>
        <li class="nav-item active mr-5 ml-5">
         <div class="row d-flex align-items-center mr-4">
          <img src="../../assets/xbox.png" width="30px" height="30px" alt="Logo Xbox">
          <a class="nav-link text-white" routerLink="/xbox"
            >Xbox <span class="sr-only">(current)</span></a
          >
         </div>
        </li>
        <li class="nav-item active mr-5">
         <div class="row d-flex align-items-center ml-5 mr-5 ">
          <img src="../../assets/nintendo.png" width="30px" height="30px" alt="Logo Nintendo">
          <a class="nav-link text-white" routerLink="/nintendo"
            >Nintendo <span class="sr-only">(current)</span></a
          >
         </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Ofertas
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

