<strong
  class="d-flex justify-content-center font-config titulo-destaque font-type"
  >Destaques</strong
>

<!-- Carousel -->
<div class="row d-flex justify-content-center mt-3 font-type">
  <div
    id="carouselExampleControls"
    class="carousel slide w-50 edit-carousel"
    data-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://cdn1.epicgames.com/offer/3ddd6a590da64e3686042d108968a6b2/EGS_GodofWar_SantaMonicaStudio_S1_2560x1440-5d74d9b240bba8f2c40920dcde7c5c67_2560x1440-5d74d9b240bba8f2c40920dcde7c5c67"
          class="d-block w-100 image-carousel"
          alt="Capa do jogo God of War"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_auto/ncom/pt_BR/games/switch/t/the-legend-of-zelda-breath-of-the-wild-switch/hero"
          class="d-block w-100 image-carousel"
          alt="Capa do jogo Zelda"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://sm.ign.com/t/ign_br/blogroll/w/we-played-/we-played-the-witcher-3-wild-hunt-for-6-hours-ign_jtu3.h720.jpg"
          class="d-block w-100 image-carousel"
          alt="Capa do jogo The Witcher 3"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-target="#carouselExampleControls"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-target="#carouselExampleControls"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
</div>
<!-- Fim do Carousel -->

<!-- Início NavBar Compras -->
<div class="row d-flex justify-content-center font-type">
  <nav class="navbar-form mt-5 w-50 d-flex justify-content-center align-items-center ">
    <div class="mr-2 ml-5 mt-1 mb-1 d-flex justify-content-center align-items-center">
      <img src="../../assets/store.svg" width="30px" height="30px" alt="Icone Loja Física" />
    <a class="navbar-brand ml-1 mr-5 text-navbar" href="#"
      >Compre na
      loja física</a
    >
    </div>
    <div class="mr-2 ml-2 mt-1 mb-1 d-flex justify-content-center align-items-center">
      <img src="../../assets/shoppingcar.svg" width="30px" height="30px" alt="Icone de carrinho de compras" />
    <a class="navbar-brand ml-1 mr-5 text-navbar" href="#">Compre pelo site</a>
    </div>
    <div class="ml-2 mt-1 mb-1 d-flex justify-content-center align-items-center">
      <img src="../../assets/service.svg" width="30px" height="30px" alt="icone de atendimento especial" />
    <a class="navbar-brand ml-1 mr-5 text-navbar" href="#"
      >Atendimento
      especializado</a
    >
    </div>
  </nav>
</div>
<!-- Fim do navbar compras -->

<div class="row ml-5 mt-5 d-flex align-items-center titulo-categoria font-type">
  <strong class="font-config mr-3">Ofertas</strong>
  <span class="font-cards mt-2">Confira nossas ofertas imperdíveis</span>
</div>

<!-- Início dos cards Ofertas -->
<div class="container font-type font-cards mt-4">
  <div class="row-fluid">
   
    <div class="card">
      <img
        src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
        class="card-img-top mt-2 size-image"
        alt="Capa do jogo Horizon Zero Dawn"
      />
      <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
      </p>
    </div>
    <div class="card">
      <img
        src="https://www.windows11tips.com/wp-content/uploads/2021/12/image-330.png"
        class="card-img-top mt-2 size-image"
        alt="Capa do jogo Hollow Knight"
      />

      <h6 class="card-title"><strong>Hollow Knight</strong></h6>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nihil
        optio quae.
      </p>
    </div>
    <div class="card">
      <img
        src="https://image.api.playstation.com/vulcan/ap/rnd/202206/0300/E2vZwVaDJbhLZpJo7Q10IyYo.png"
        class="card-img-top mt-2 size-image"
        alt="Capa do Jogo Stray"
      />

      <h6 class="card-title"><strong>Card title</strong></h6>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
    <div class="card">
      <img
        src="https://image.api.playstation.com/vulcan/img/rnd/202010/2618/w48z6bzefZPrRcJHc7L8SO66.png"
        class="card-img-top mt-2 size-image"
        alt="Capa do jogo The Last of Us part II"
      />

      <h6 class="card-title"><strong>The Last of Us part II</strong></h6>
      <p class="card-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
    <div class="card">
      <img
        src="https://images.kabum.com.br/produtos/fotos/192214/ori-and-the-blind-forest-definitive-edition_1627654105418_g.jpg"
        class="card-img-top mt-2 size-image"
        alt="Capa do jogo Ori The Blind Forest"
      />

      <h6 class="card-title"><strong>Ori The Blind Forest</strong></h6>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla tenetur
        totam.
      </p>
    </div>
    <div class="card">
      <img
        src="https://images.kabum.com.br/produtos/fotos/192214/ori-and-the-blind-forest-definitive-edition_1627654105418_g.jpg"
        class="card-img-top mt-2 size-image"
        alt="Capa do jogo Ori The Blind Forest"
      />

      <h6 class="card-title"><strong>Ori The Blind Forest</strong></h6>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla tenetur
        totam.
      </p>
    </div>
    <div class="card">
      <img
        src="https://images.kabum.com.br/produtos/fotos/192214/ori-and-the-blind-forest-definitive-edition_1627654105418_g.jpg"
        class="card-img-top mt-2 size-image"
        alt="Capa do jogo Ori The Blind Forest"
      />

      <h6 class="card-title"><strong>Ori The Blind Forest</strong></h6>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla tenetur
        totam.
      </p>
    </div>
    <div class="card">
      <img
        src="https://images.kabum.com.br/produtos/fotos/192214/ori-and-the-blind-forest-definitive-edition_1627654105418_g.jpg"
        class="card-img-top mt-2 size-image"
        alt="Capa do jogo Ori The Blind Forest"
      />

      <h6 class="card-title"><strong>Ori The Blind Forest</strong></h6>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla tenetur
        totam.
      </p>
    </div>
    
  </div>

</div>
<!-- Fim dos cards de ofertas -->

<div class="row ml-5 mt-5 d-flex align-items-center titulo-categoria font-type">
  <strong class="font-config mr-3">Lançamentos</strong>
  <span class="font-cards mt-2">Confira nossas ofertas imperdíveis</span>
</div>

<!-- Início dos cards Lançamentos -->

<!-- Fim dos cards de lançamentos -->
<div class="container font-type font-cards mt-4">
  <div class="row-fluid">
   
    <div class="card">
      <img
        src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0221/vC7trMorHJgbImp8PCQvpI0p.png"
        class="card-img-top mt-2 size-image"
        alt="Capa do jogo Horizon Zero Dawn"
      />
      <h6 class="card-title"><strong>Horizon Zero Dawn</strong></h6>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit.
      </p>
    </div>
    <div class="card">
      <img
        src="https://www.windows11tips.com/wp-content/uploads/2021/12/image-330.png"
        class="card-img-top mt-2 size-image"
        alt="Capa do jogo Hollow Knight"
      />

      <h6 class="card-title"><strong>Hollow Knight</strong></h6>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nihil
        optio quae.
      </p>
    </div>
    <div class="card">
      <img
        src="https://image.api.playstation.com/vulcan/ap/rnd/202206/0300/E2vZwVaDJbhLZpJo7Q10IyYo.png"
        class="card-img-top mt-2 size-image"
        alt="Capa do Jogo Stray"
      />

      <h6 class="card-title"><strong>Card title</strong></h6>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
    <div class="card">
      <img
        src="https://image.api.playstation.com/vulcan/img/rnd/202010/2618/w48z6bzefZPrRcJHc7L8SO66.png"
        class="card-img-top mt-2 size-image"
        alt="Capa do jogo The Last of Us part II"
      />

      <h6 class="card-title"><strong>The Last of Us part II</strong></h6>
      <p class="card-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
    <div class="card">
      <img
        src="https://images.kabum.com.br/produtos/fotos/192214/ori-and-the-blind-forest-definitive-edition_1627654105418_g.jpg"
        class="card-img-top mt-2 size-image"
        alt="Capa do jogo Ori The Blind Forest"
      />

      <h6 class="card-title"><strong>Ori The Blind Forest</strong></h6>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla tenetur
        totam.
      </p>
    </div>
    <div class="card">
      <img
        src="https://images.kabum.com.br/produtos/fotos/192214/ori-and-the-blind-forest-definitive-edition_1627654105418_g.jpg"
        class="card-img-top mt-2 size-image"
        alt="Capa do jogo Ori The Blind Forest"
      />

      <h6 class="card-title"><strong>Ori The Blind Forest</strong></h6>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla tenetur
        totam.
      </p>
    </div>
    <div class="card">
      <img
        src="https://images.kabum.com.br/produtos/fotos/192214/ori-and-the-blind-forest-definitive-edition_1627654105418_g.jpg"
        class="card-img-top mt-2 size-image"
        alt="Capa do jogo Ori The Blind Forest"
      />

      <h6 class="card-title"><strong>Ori The Blind Forest</strong></h6>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla tenetur
        totam.
      </p>
    </div>
    <div class="card">
      <img
        src="https://images.kabum.com.br/produtos/fotos/192214/ori-and-the-blind-forest-definitive-edition_1627654105418_g.jpg"
        class="card-img-top mt-2 size-image"
        alt="Capa do jogo Ori The Blind Forest"
      />

      <h6 class="card-title"><strong>Ori The Blind Forest</strong></h6>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla tenetur
        totam.
      </p>
    </div>
    
  </div>

</div>




